* {
    margin: 0;
    padding: 0;
    font-family: "Princess Sofia", cursive;
}

html {
    background-color: #FDDFEB;
}

h1 {
    color: #500000;
    font-style: italic;
    text-align: center;
    margin: 35px;
}

h3 {
    margin-top: 90px;
    color: #710C04;
    text-align: center;
}

img {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.buton {
    display: block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 13px;

    width: 200px;
    margin: 0 auto;
    text-align: center;

    background-color: #5c0a0a;
    color: #FADAE7;
    text-decoration: none;
    font-size: 13px;

    transition: #FDDFEB 0.3s;
}

.buton:hover {
    background-color: #710C04;
}
